In [2]:
! pip install geopy

Requirement already satisfied: geopy in c:\users\sanchari chowdhuri\anaconda2\lib\site-packages

In [1]:
import pandas as pd

In [2]:
#importing  combined dataframe

df1=pd.read_csv("TreyGowdyCustody51.csv")
#df=df1.head(120)
loc_df=df1['user_location']
len(loc_df)
#loc_df[40:60]

519

In [3]:
import time

In [4]:
#geocoding data
from geopy.geocoders import Nominatim
geolocator = Nominatim()
appended_data = []
#d = geolocator.geocode()
for city in loc_df:
        loc = geolocator.geocode(city)
        appended_data.append(loc)
        print len(appended_data)
        time.sleep(1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105

GeocoderTimedOut: Service timed out

In [5]:
len(appended_data)

105

In [6]:
#saving it in dataframe
G_df = pd.DataFrame({'Geocoded Location':appended_data})
G_df.head(10)

                                   Geocoded Location
0  (Nangarhar ننگرهار, افغانستان, (34.220389, 70....
1  (Nangarhar ننگرهار, افغانستان, (34.220389, 70....
2  (Oregon, United States of America, (43.9792797...
3  (Oregon, United States of America, (43.9792797...
4                                               None
5  (Pensacola, Escambia County, Florida, United S...
6  (Miami, Gammeltorv, Kødbyen, Vesterbro, Københ...
7                                               None
8  (Nangarhar ننگرهار, افغانستان, (34.220389, 70....
9  (Nangarhar ننگرهار, افغانستان, (34.220389, 70....

In [7]:

commentsnew_df=G_df['Geocoded Location']

In [8]:
#saving dataframe in csv
G_df.to_csv("location.csv", index=False,encoding ='utf8')

In [9]:
#readig csv
df2=pd.read_csv("location.csv")

In [10]:
#converting entire dataframe in string
df2['Geocoded Location'].apply(str)

0      (Nangarhar ننگرهار, افغانستان, (34.220389, 70....
1      (Nangarhar ننگرهار, افغانستان, (34.220389, 70....
2      (Oregon, United States of America, (43.9792797...
3      (Oregon, United States of America, (43.9792797...
4                                                    nan
5      (Pensacola, Escambia County, Florida, United S...
6      (Miami, Gammeltorv, Kødbyen, Vesterbro, Københ...
7                                                    nan
8      (Nangarhar ننگرهار, افغانستان, (34.220389, 70....
9      (Nangarhar ننگرهار, افغانستان, (34.220389, 70....
10     (Nangarhar ننگرهار, افغانستان, (34.220389, 70....
11     (Earth, Lamb County, Texas, United States of A...
12     (Minnesota, United States of America, (45.9896...
13     (Florida, United States of America, (27.756766...
14     (Gardiner, Kennebec County, Maine, United Stat...
15                                                   nan
16     (Montgomery, Montgomery County, Alabama, Unite...
17     (Nangarhar ننگرهار, افغانستان, (34.220389, 70....
18                                                   nan
19     (Nangarhar ننگرهار, افغانستان, (34.220389, 70....
20     (Nangarhar ننگرهار, افغانستان, (34.220389, 70....
21     (Norcal Road, Nunawading, City of Whitehorse, ...
22     (Cork, County Cork, Munster, Ireland, (51.8979...
23     (Nangarhar ننگرهار, افغانستان, (34.220389, 70....
24     (Nangarhar ننگرهار, افغانستان, (34.220389, 70....
25     (Nangarhar ننگرهار, افغانستان, (34.220389, 70....
26     (Arizona, United States of America, (34.395342...
27     (Nangarhar ننگرهار, افغانستان, (34.220389, 70....
28                                                   nan
29                                                   nan
                             ...
75     (Eastern Channel, Oak Island, Brunswick County...
76                                                   nan
77     (Nangarhar ننگرهار, افغانستان, (34.220389, 70....
78     (Fort Lauderdale, Broward County, Florida, Uni...
79     (Nangarhar ننگرهار, افغانستان, (34.220389, 70....
80     (NYC, New York, United States of America, (40....
81     (America, Pereira, Risaralda, Colombia, (4.818...
82     (Nangarhar ننگرهار, افغانستان, (34.220389, 70....
83     (South Carolina, United States of America, (33...
84     (Florida, United States of America, (27.756766...
85     (Tennessee, United States of America, (35.7730...
86     (Washington, United States of America, (47.286...
87     (Nangarhar ننگرهار, افغانستان, (34.220389, 70....
88     (Michigan, United States of America, (43.62119...
89     (Bukit Gambier, George Town, PNG, Malaysia, (5...
90     (Florida, United States of America, (27.756766...
91     (Nangarhar ننگرهار, افغانستان, (34.220389, 70....
92                                                   nan
93     (Nangarhar ننگرهار, افغانستان, (34.220389, 70....
94                                                   nan
95     (Ramsay Number One Mine, County Road 57, Routt...
96     (Nangarhar ننگرهار, افغانستان, (34.220389, 70....
97     (Nangarhar ننگرهار, افغانستان, (34.220389, 70....
98     (Nangarhar ننگرهار, افغانستان, (34.220389, 70....
99     (United States of America, (39.7837304, -100.4...
100    (Good Ole Boy Road, Union Hill, Denton County,...
101    (United States of America, (39.7837304, -100.4...
102    (Milford, Clermont County, Ohio, United States...
103    (United States of America, (39.7837304, -100.4...
104    (United States of America, (39.7837304, -100.4...
Name: Geocoded Location, dtype: object

In [11]:
#string slicing based on first word
df2['Geocoded Location'] = df2['Geocoded Location'].astype(str)

#but it remove numbers 
df2['Geocoded Location'] = df2['Geocoded Location'].str.extract('([a-zA-Z ]+)', expand=False).str.strip()

In [12]:
df2.head(5)

  Geocoded Location
0         Nangarhar
1         Nangarhar
2            Oregon
3            Oregon
4               nan

In [13]:
#comparing geocoded and sctual location
df_col_merged =pd.concat([df1, df2], axis=1)
df_col_merged.head(2)

,id,text,created_at,retweet_count,favorite_count,source,user_id,user_screen_name,user_name,user_created_at,user_description,user_followers_count,user_friends_count,user_location,geo_enabled,time_zone,Geocoded Location
0,859046057728200704,BREAKING! TREY GOWDY AND FAMILY FORCED INTO PR...,2017-05-01 14:05:15,0,0,Twitter for iPad,845017725219061762,GarverickJanine,Janine Garverick,2017-03-23 21:01:40,NaN,3,2,NaN,False,NaN,Nangarhar
1,859011203791769600,RT @Mike94002447: Was Trey Gowdy Forced Into P...,2017-05-01 11:46:45,1,0,Twitter Web Client,822814149004627969,Mike94002447,Mike,2017-01-21 14:32:35,Combat Veteran for Trump,630,640,NaN,False,NaN,Nangarhar